[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
